@use "../../styles/theme"

.skills__content
    padding: 0 1.5rem
    margin-top: 1.5rem
    margin-bottom: 1.5rem

.tabs__item
    font-weight: bold

.skills__icons
    font-size: 100px
    width: 100px
    filter: drop-shadow(0 0px 20px rgba(8, 111, 184, 0.767))
    &:hover
        filter: drop-shadow(0 0px 20px rgba(240, 46, 170, 0.7))
    img
        width: 100%
        height: auto
        margin-bottom: 1rem

.skills__icons-text
    font-weight: 700
    font-size: 0.75rem
    color: theme.$accent-a-dark !important

.tabs.is-fullwidth
    margin-top: 2rem

.tabs__item
    text-decoration: none
    position: relative
    padding-bottom: 8px
    text-align: center

.tabs__item.is-active
    color: theme.$primary !important
    position: relative
    &:after
        position: absolute
        content: ''
        height: 3px
        bottom: 0
        margin: 0 auto
        left: 0
        right: 0
        width: 40%
        background: theme.$primary
        transition: all 1s ease

.tabs ul
    border-color: transparent

.skills-tooltip
    width: 100%
    height: 100%
