@import '../../styles/colors.sass'
@import '../../styles/utils.sass'


.skills__content
    padding: 0 1.5rem
    margin-top: 1.5rem
    margin-bottom: 1.5rem

.tabs__item
    font-weight: bold

.skills__icons
    font-size: 100px
    width: 100px

.skills__icons-text
    font-size: 0.75rem
    font-weight: 700
    color: $primary !important
