@use 'sass:color'
@use "@styles/theme"
@import "@styles/default"

@import '@creativebulma/bulma-tooltip'

$primary: theme.$primary
$primary-invert: theme.$primary-invert
$secondary: theme.$secondary
$secondary-invert: theme.$secondary-invert
//Menu overrides
$menu-item-color: theme.$white
$menu-item-hover-color: theme.$black !important
$menu-item-hover-background-color: theme.$black
$menu-item-active-color: theme.$primary-invert
$menu-item-active-background-color: theme.$primary-invert
$menu-list-border-left: 1px solid theme.$primary-invert
$menu-label-color: theme.$white

.navbar-item
    font-weight: 500

.navbar-item .icon
    color: theme.$primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
    width: 1.5rem
    height: 1.5rem
    fill: currentColor
.navbar-brand .navbar-item.logo
    padding: 0 1rem
footer.footer
    padding: 3rem 0rem 0rem
    background-color: transparent

.menu-label
    font-size: 1em !important
    text-align: left
.menu-list
    list-style: none !important
    text-align: left
    a
        color: theme.$white
.social
    padding: 2em
.social a[title] img
    padding: .5em
    border-radius: 21px
    background-color: $white-ter
    margin: .5em
    width: 42px
    height: 42px
    display: inline
    text-align: center
    overflow: hidden

.footer-logo
    font-family: 'Fira Code', monospace
    color: theme.$primary
    text-shadow: 0 0px 4px theme.$accent-a
