@use "../../styles/theme"
@use "../../styles/utils"

.hero-container
    clip-path: polygon(0 0, 100% 0, 100% 35%, 100% 100%, 87% 95%, 76% 100%, 51% 96%, 25% 100%, 15% 95%, 0 100%)
    min-height: calc(100vh - 52px)
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5))
    background: linear-gradient(120deg, #9145b6, #8a4abb, #7657c6, #4e68d2, #0078d9, #0086d6, #0091ca, #009aba, #00a0ab, #00a49f, #35a698, #3fa796)
    text-align: left
    .container
        height: calc(100vh - 52px)
        .hero-columns
            height: 100%

.hero-description
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
    width: 90%
    margin: 0 auto

.logo-text
    @include utils.firaFont
    font-size: 1.5rem
    font-weight: 700
    color: theme.$primary !important

.profile-img
    width: 350px
    height: 350px
    border-radius: 35% 65% 70% 30% / 49% 37% 63% 51%
    margin-bottom: 3rem
    margin-top: 1rem
    border: 15px solid theme.$primary
    box-shadow: 0 0 0 0.5rem theme.$primary

.heading-main
    @include utils.firaFont
    background-color: theme.$primary
    color: theme.$white
    line-height: 1
    padding: 0.25em
    margin-bottom: 0.25em

.author-image
    display: flex
    justify-content: center

.about-me
    @include utils.firaFont
    font-size: 1.15rem
    background-color: theme.$primary
    color: theme.$white
    lineHeight: 1
    padding: 0.75em
    font-weight: 500
    text-align: justify

.highlight
    background: theme.$accent-a
    color: theme.$white
    padding: 0.25em
    font-weight: 700
    border-radius: 0.25em
    margin: 0.25rem
